@model PaymentSystem.Models.UserProfileModel

@{
    ViewData["Title"] = "Profile";
}

<div class="d-flex justify-content-center" style="margin: 30px 0;" >
    <div>
        <h2>Profile</h2>
    </div>
    @if (Model.IsVerified)
    {
        <button 
            type="button"
            class="btn btn-success"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
            </svg>
        </button>   
    }
    else
    {
        <button 
            type="button"
            class="btn btn-danger"
            onclick="location.href='@Url.Action("Verification", "Account")'"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
        </button> 
    }
</div>

<div>
    <table class="table table-striped">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Registered at</th>
            <th>Is verified</th>
            <th>Balance</th>
            <th>Roles</th>
        </tr>
        <tbody>
        <tr>
            <td>@Model.FirstName</td>
            <td>@Model.LastName</td>
            <td>@Model.Email</td>
            <td>@Model.RegisteredAt</td>
            <td>@Model.IsVerified</td>
            <td>@Model.Balance</td>
            <td>@Model.Role</td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center" style="margin-top: 50px">
        <div class="col-sm-5">
            <div style="text-align: center;">
                <h5>Edit profile</h5>
            </div>
            <form class="d-flex flex-column" method="post" asp-controller="Account" asp-action="UpdateProfile">
                @if (@ViewBag.Error != null)
                {
                    <div style="color: red; text-align: center;">
                        @ViewBag.Error
                    </div>
                }
                <input
                    type="text"
                    required
                    value="@Model.FirstName"
                    placeholder="New first name"
                    name="FirstName"
                    style="margin: 5px 0; height: 40px;"
                />
                <input
                    type="text"
                    required
                    value="@Model.LastName"
                    placeholder="New last name"
                    name="LastName"
                    style="margin: 5px 0; height: 40px;"
                />
                <input
                    type="email"
                    required
                    value="@Model.Email"
                    placeholder="New email"
                    name="Email"
                    style="margin: 5px 0; height: 40px;"
                />
                <input
                    type="password"
                    required
                    placeholder="Old password"
                    name="OldPassword"
                    style="margin: 5px 0; height: 40px;"
                />
                <input
                    type="password"
                    required
                    placeholder="New password"
                    name="NewPassword"
                    style="margin: 5px 0; height: 40px;"
                />
                <button class="btn btn-primary" style="margin: 5px 0; height: 40px;">
                    Edit
                </button>
            </form>
        </div>
    </div>
</div>
