@model List<PaymentSystem.Models.UserProfileModel>

<div>
    <table class="table table-striped">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Registered at</th>
            <th>Is verified</th>
            <th>Balance</th>
            <th>Roles</th>
            <th>Edit</th>
        </tr>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.RegisteredAt</td>
                    <td>@user.IsVerified</td>
                    <td>@user.Balance</td>
                    <td>@user.Role</td>
                    <td>
                        <button 
                            type="button"
                            class="btn btn-primary"
                            onclick="location.href='@Url.Action("UserProfile", "Account", new {userId = user.Id})'"
                        >
                            Edit
                        </button>
                    </td>
                </tr>   
            }
        </tbody>
    </table>
</div>