@model List<PaymentSystem.Data.FundTransferRecord>

<div>
    <h4 style="margin-top: 40px">
        Accepted funds transfers
    </h4>
    <table class="table table-striped" style="margin-top: 30px">
        <tr>
            <th>Card number</th>
            <th>Transfer type</th>
            <th>Amount of money</th>
            <th>From user</th>
            <th>To user at</th>
            <th>Confirmed by</th>
            <th>Confirmed at</th>
        </tr>
        <tbody>
        @foreach (var fundTransfer in Model)
        {
            <tr>
                <td>@fundTransfer.CardNumber</td>
                <td>@fundTransfer.TransferType</td>
                <td>@fundTransfer.AmountOfMoney</td>
                <td>@fundTransfer.CreatedByUserRecord.FirstName @fundTransfer.CreatedByUserRecord.LastName</td>
                <td>@fundTransfer.UserRecord.FirstName @fundTransfer.UserRecord.LastName</td>
                <td>@fundTransfer.ConfirmedByUserRecord!.FirstName @fundTransfer.ConfirmedByUserRecord!.LastName</td>
                <td>@fundTransfer.ConfirmedAt</td>
            </tr>
        }
        </tbody>
    </table>
</div>